window {
  background: transparent;
}

box.panel,
grid.panel {
  background-color: alpha(@window_bg_color, 0.75);
  border-radius: 12px;
  padding: 10px;
}

box.panel image,
grid.panel image {
  color: @window_fg_color;
}

button {
  border-radius: 12px;
  background-color: alpha(@card_bg_color, 0.5);
  color: @window_fg_color;
  transition: background-color 100ms ease-in-out;
}
button image {
  transition: -gtk-icon-transform 100ms ease-in-out;
}

button:hover {
  background-color: @shade_color;
}
button:hover image {
  -gtk-icon-transform: scale(1.2);
}

button:active {
  background-color: @accent_color;
}
button:active image {
  -gtk-icon-transform: scale(1.5);
}

@keyframes slide-highlight {
  0% {
    background-position:
      -200px 0,
      0 0;
  }
  33% {
    background-position:
      200px 0,
      0 0;
  }
}
progressbar trough {
  min-width: 200px;
  min-height: 40px;
  border-radius: 12px;
  background-color: @headerbar_bg_color;
}
progressbar progress {
  min-height: 40px;
  border-radius: 12px;
}
.cpu-bar progress {
  background-color: @blue_1;
}
.memory-bar progress {
  background-color: @yellow_1;
}
.battery-bar progress {
  background-color: @green_3;
}
.battery-bar.charging progress {
  background-color: @green_3;
  background-image: linear-gradient(to left, @green_1, @green_3);
  animation: slide-highlight 3s linear infinite;
  background-size:
    200px 100%,
    100% 100%;
}
.battery-bar.low progress {
  background-color: @orange_1;
}
.battery-bar.crit progress {
  background-color: @red_1;
}

.switches button.active {
  background-color: alpha(@accent_bg_color, 0.75);
  color: @accent_fg_color;
}
.switches button.active:hover {
  background-color: alpha(@popover_fg_color, 0.75);
}

.media .media-player .title {
  font-size: 28px;
}
.media .media-player .artist {
  font-size: 24px;
}
.media .media-player .progress {
  margin: 10px 10px 0 10px;
}
.media .media-player .progress trough {
  min-height: 40px;
  border-radius: 14px;
}
.media .media-player .progress highlight {
  all: unset;
  border-radius: 14px;
  background-color: @accent_bg_color;
}
.media .media-player .progress slider {
  all: unset;
}
